### CUSTOM USER SETTINGS - change these values for your custom Jenkins ###

# The name of your team that will be part of your URLs
team_name = "Add in the name of your team here, for example: team2"

# The name of the environments you want to provision Jenkins for, you can call these whatever you like. We've given some examples here.
team_environments = [
  "dev",
  "staging",
  "prod",
]

### STANDARD SETTINGS - you shouldn't need to change these ###

top_level_domain_name = "build.gds-reliability.engineering"

aws_az = "eu-west-1a"

aws_profile = "re-build-systems"

aws_region = "eu-west-1"
